<% var data = {
  title: "Custom Select Box",
  author: "vipersteel"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
  <div class="container">
    <p>REPLY TO MONICA P.</p>
    <p>7:51 PM</p>
    <p class="Text">Fusce dapibus, tellus ac cursus com modo, tortor mauris condi mentum nibh ut fermentum massa.</p>
  </div>
  <div class="buttons">
    <button class="but-1">CANCEL</button>
    <button class="but-2">REPLY</button>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>