<% var data = {
  title: "Custom Select Box",
  author: "vipersteel"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main>

  <div class="top_info">
    <p class="signup">SIGNUP</p>
    <p class="create">CREATE YOUR ACCOUNT</p>
  </div>

  <div class="form">
    <input type="text" placeholder="USERNAME">
    <input type="text" placeholder="PASSWORD">
    <input type="text" placeholder="confrim PASSWORD">
  </div>

  <div class="agreement">

    <label class="container">
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    <p class="sign_me_up">SIGN ME up FOR NEWSLETTER</p>
  </div>

  <div>
    <button class="button">signup</button>
  </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>