<% var data = {
  title: "Custom Select Box",
  author: "vipersteel"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">

  <select name="" id="cusSelectbox">
    <option value="Select">Select</option>
    <option value="India">India</option>
    <option value="Nepal">Nepal</option>
    <option value="Bangladesh">Bangladesh</option>
    <option value="Sri Lanka">Sri Lanka</option>
    <option value="Pakistan">Pakistan</option>
  </select>

</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>