<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="favicon/favicon.ico" />
  <link rel="stylesheet" href="css/style.bundle.css" />

  <title><%=title%></title>
</head>

<body>
  <header></header>