body,
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    background: #f5f5f5;
}

main {
    width: 350px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(54, 104, 151, .9);
    border-radius: 3px;
    position: absolute;
    font-size: 18px;

    div p {
        color: rgb(255, 255, 255);
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.Text {
    margin-top: 20px;
    line-height: 1.6;
}

.buttons {
    margin-top: 35px;
    display: flex;
    flex-direction: row;

    button {
        width: 100%;
        height: 45px;
        outline: none;
        border: solid 1px rgb(7, 41, 74);
        cursor: pointer;
        background: rgba(6, 37, 68, 0.38);
        border-radius: 0 0 3px 3px;
        font-weight: 550;
        font-size: 18px;
    }

    .but-1 {
        color: rgba(83, 127, 175, 0.522);
    }

    .but-2 {
        color: rgb(255, 255, 255)
    }
}