body,
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    background: #FFF;
}

main {
    width: 300px;
    position: absolute;
    background-color: rgba(54, 104, 151, .9);
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 25px 40px;

    div {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        input::-moz-placeholder {
            color: rgb(255, 255, 255);
            text-transform: uppercase;
        }

        input::-webkit-input-placeholder {
            color: rgb(255, 255, 255);
            text-transform: uppercase;
        }
    }
}

.top_info {
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: dotted 1px #000000;
}

.signup {
    color: rgb(18, 170, 235);
}

.create {
    color: rgb(255, 255, 255);
}

.form {
    margin-top: 23px;

    input {
        background: #295786;
        margin-top: 12px;
        padding: 10px;
        border-radius: 3px;
        border: none;
        outline: none;
        color: rgb(255, 255, 255);
    }
}

.agreement {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 19px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked~.checkmark {
                background-color: #295786;
            }

            &:checked~.checkmark:after {
                display: block;
            }
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;

            &:after {
                content: "";
                position: absolute;
                display: none;
            }

            &:after {
                left: 7px;
                top: 3px;
                width: 5px;
                height: 9px;
                border: solid white;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        &:hover input~.checkmark {
            background-color: #eee;
        }
    }

    .sign_me_up {
        color: rgb(255, 255, 255);
        font-size: 12px;
        text-transform: uppercase;
    }
}

.button {
    background-color: rgb(18, 170, 235);
    border-radius: 3px;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 30px;
    color: #EEE;
    cursor: pointer;
    text-transform: uppercase;
}